<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeStory 나의 서점</title>
</head>
<body>
    <h1>두가지 페이지로 나눌지 아니면 한페이지에 다 담을 것인지 결정해야함</h1>
    <div>
        책추천
        오늘의 날씨엔 이런 책이 잘 어울려요.
        <div>책내용불러오기</div>
    </div>

    <div>
        독서록
        책제목: <input type="text" maxlength="30">
        책을 접한 곳(이유) : <input type="text" maxlength="1000">
        책내용: <input type="text" maxlength="3000">
        읽고나서 이책은 몇점인가?
        <div>
            <input type="checkbox">1점
            <input type="checkbox">2점
            <input type="checkbox">3점
            <input type="checkbox">4점
            <input type="checkbox">5점
        </div>


    </div>
</body>
</html>