<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeStory 나의 서점</title>
</head>
<body>
    <h1>두가지 페이지로 나눌지 아니면 한페이지에 다 담을 것인지 결정해야함</h1>
    <div>
        책추천
ㅂ        오늘의 날씨엔 이런 책이 잘어울려요
        <div>책 내용불러오기</div>
    </div>

    <div>독서록

        책제목 : <input type="text" maxlength="20">

        책이랑 만난 곳(이유) <input type="text" maxlength="1000">
        책내용 : <input type="text" maxlength="3000">
        
        읽고나니 나에겐 몇점인가? <p>토글로 정하자</p>

    </div>
</body>
</html>